img{
  max-width: 300px;
  border-radius: 50%;
  border: double 2px #2C3333;
}
body{
  background-color: #D7A86E;
}
hr{
  color: #E2C275;
  border-top: dotted 5px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 5%;
}
h3, h1 {
  color: #603601;
}