body{
  background-color:#708090;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li{
  font-style: italic;
  font-size: large;
}
img{
  max-width: 200px;
  max-height:200px;
  border: 5px double #709090;
}
a{
  margin: auto;
}
